<div class="register-container">
  <div class="register-left">
    <div class="logo-box">
      <img src="assets/logo-jcstudio.svg" alt="JC Studio Logo" class="logo" />
      <div class="illustration"></div>
    </div>
  </div>

  <div class="register-right">
    <h2>Crear cuenta</h2>
    <form [formGroup]="registerForm" (ngSubmit)="registerAccount()">
      <div class="input-group">
        <label>Nombre</label>
        <input type="text" formControlName="name" placeholder="Tu nombre" />
        <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid" class="error-msg">
          <span *ngIf="registerForm.get('name')?.errors?.['required']">Este campo es obligatorio</span>
        </div>
      </div>

      <div class="input-group">
        <label>Apellido paterno</label>
        <input type="text" formControlName="lastName1" placeholder="Tu primer apellido" />
        <div *ngIf="registerForm.get('lastName1')?.touched && registerForm.get('lastName1')?.invalid" class="error-msg">
          <span *ngIf="registerForm.get('lastName1')?.errors?.['required']">Este campo es obligatorio</span>
        </div>
      </div>

      <div class="input-group">
        <label>Apellido materno (opcional)</label>
        <input type="text" formControlName="lastName2" placeholder="Tu segundo apellido" />
      </div>

      <div class="input-group">
        <label>Correo electrónico</label>
        <input type="email" formControlName="email" placeholder="Correo electrónico" />
        <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="error-msg">
          <span *ngIf="registerForm.get('email')?.errors?.['required']">Este campo es obligatorio</span>
          <span *ngIf="registerForm.get('email')?.errors?.['email']">Correo inválido</span>
        </div>
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="Contraseña" />
        <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="error-msg">
          <span *ngIf="registerForm.get('password')?.errors?.['required']">Este campo es obligatorio</span>
          <span *ngIf="registerForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres</span>
        </div>
      </div>

      <div *ngIf="errorMsg" class="error-global">{{ errorMsg }}</div>

      <button type="submit" class="register-button" [disabled]="isLoading">
        <span *ngIf="!isLoading">Registrarme</span>
        <span *ngIf="isLoading" class="loader"></span>
      </button>

      <p class="login-link">
        ¿Ya tienes cuenta? <a (click)="login()">Inicia sesión</a>
      </p>
    </form>
  </div>
</div>
