<div class="activate-container">
  <div class="activate-left">
    <div class="logo-box">
      <img src="assets/logo-jcstudio.svg" alt="JC Studio Logo" class="logo" />
      <div class="illustration"></div>
    </div>
  </div>

  <div class="activate-right">
    <h2>Activar cuenta</h2>
    <p>Introduce el código que hemos enviado a tu correo electrónico.</p>

    <code-input
      *ngIf="!submitted"
      [length]="6"
      (codeCompleted)="onCodeCompleted($event)">
    </code-input>

    <div *ngIf="submitted" [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }" class="message-box">
      {{ message }}
      <button class="redirect-button" (click)="redirectToLogin()">Ir al login</button>
    </div>
  </div>
</div>
